<mat-toolbar color = "primary"> 
    
    <mat-toolbar-row> 
        <span>Perfil: </span>
    </mat-toolbar-row>

    <mat-toolbar-row>  
        <span>Usuario: {{nombreUsuario}} </span>
        <span class="spacer-perfil"></span>
        <mat-icon class="material-icons md-36" aria-hidden="false">face</mat-icon>
    </mat-toolbar-row>

    <mat-toolbar-row> 
        <span>Roles: {{nombreRol}} </span>
        <span class="spacer-perfil"></span>
        <mat-icon class="material-icons md-36" aria-hidden="false">group</mat-icon>
    </mat-toolbar-row>
    
</mat-toolbar>